body {
  margin: 0;
  padding: 0;
}

#mynetwork {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  border: none;
  position: relative;
  float: left;
}

#loadingBar {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color:rgba(200, 200, 200, 0.8);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

#outerBorder {
  position:relative;
  top:400px;
  width:600px;
  height:44px;
  margin:auto auto auto auto;
  border:8px solid rgba(0,0,0,0.1);
  background: rgb(252,252,252); /* Old browsers */
  border-radius:72px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  margin: auto auto auto auto;
  border-radius: 11px;
  border: 2px solid rgba(30,30,30,0.05);
  background: rgb(0, 173, 246); /* Old browsers */
  box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}

#border {
  position:absolute;
  top:10px;
  left:10px;
  width:500px;
  height:23px;
  margin:auto auto auto auto;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  border-radius:10px;
}

#text {
  position:absolute;
  top:8px;
  left:530px;
  width:30px;
  height:50px;
  margin:auto auto auto auto;
  font-size:22px;
  color: #000000;
  font-family: helvetica;
}