body {
  margin: 0;
  padding: 0;
}

#mynetwork {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  border: none;
  position: relative;
  float: left;
}

#loadingBar {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #D3D3D3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

  #outerBorder {
    position:relative;
    top:400px;
    width:600px;
    height:44px;
    margin:auto auto auto auto;
    border:8px solid rgba(0,0,0,0.1);
    background: rgb(252,252,252); /* Old browsers */
    border-radius:72px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
    #text {
      position:absolute;
      top:8px;
      left:530px;
      width:30px;
      height:50px;
      margin:auto auto auto auto;
      font-size:22px;
      color: #000000;
      font-family: helvetica;
    }

    #border {
      position:absolute;
      top:10px;
      left:10px;
      width:500px;
      height:23px;
      margin:auto auto auto auto;
      box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
      border-radius:10px;
    }
      #bar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        margin: auto auto auto auto;
        border-radius: 11px;
        border: 2px solid rgba(30,30,30,0.05);
        background: rgb(0, 173, 246); /* Old browsers */
        box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
      }

#hit-info {
  background-color: rgba(30,30,30,0.6);
  min-width: 360px;
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px;
}

  #hit-info #hit-name {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  #hit-info #hit-path {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
  }

  #hit-info button{
    margin: 0;
    width: 100%;
  }
  
#search-box {
  width: 400px;
  position: fixed;
  top: 0;
  left: calc(50vw - 200px);
}

#search-box input{
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.5);
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
}

::placeholder {
  color: #BBBBBB;
}